{% extends  'core/base.html' %}

{% block contenido %}
{% load static %}
<section class="breadcrumb-area bg-5">
    <div class="container">
        <div class="row">
            <div class=" w3l-login-form">
                <h2>Inicio Sesión</h2>
                {% if form.errors %}
                    <p style="color:#FFFFFF"> <span class="fas fa-close"></span> &nbsp Su <b>Nombre de usuario y Contreseña</b> No Coinciden. Por favor intente nuevamente.</p>
                {% endif %}

                <form action="{% url 'login' %}" method="POST" >
                {% csrf_token %}
                    <div class=" w3l-form-group">
                        <label>Usuario:</label>
                        <div class="group">
                            <i class="fas fa-user"></i>
                            <input type="email" name="username" class="form-control" placeholder="email@dominio.com"/>
                        </div>
                    </div>
                    <div class=" w3l-form-group">
                        <label>Contraseña</label>
                        <div class="group">
                            <i class="fas fa-unlock-alt"></i>
                            <input type="password" name="password" class="form-control" placeholder="Contraseña" required="required" />
                        </div>
                    </div>
                    <!--
                    <div class="forgot">
                        <a href="{% url 'password_reset' %}">Olvidaste tu Contraseña?</a>
                    </div>
                    -->
                    <button type="submit">Login</button>
                </form>
                <p class=" w3l-register-p">No tienes una cuenta?<a href="{% url 'signup' %}" class="register"> Registrate</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}
