{% extends "base.html" %}

{% block body %}
    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
        	<div class="col m2"></div>
			<div class="col m8">
				<div class="card blue-grey light-1">
        		<div class="card-content white-text">
          		<span class="card-title">NOTIFICACION</span>		    
					  <p>Su contraseña ha sido establecida. para iniciar sesión <a href="{% url 'login' %}">Presione aquí.</a>
					  </p>
					
				</div >
				</div>
			</div>
		    <div class="col m2"></div>
		</div>
	</div>
{% endblock %}