{% extends "base.html" %}

{% block body %}
    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
        	<div class="col m2"></div>
			<div class="col m8">
				<div class="card blue-grey light-1">
        		<div class="card-content white-text">
          		<span class="card-title">INSTRUCCIONES</span>		    
					  <p>					    
						Le hemos enviado por correo electrónico las instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó.
						Deberías recibirlos en breve.
					  </p>
					  <p>					    
						Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró,
						y revisa tu carpeta de spam.
					  </p>
				</div >
				</div>
			</div>
		    <div class="col m2"></div>
		</div>
	</div>
{% endblock %}