{% extends  'movil/base.html' %}

{% block contenido %}
{% load static %}
        <!--LOGIN FORM START-->
        <section>
            <div class=" w3l-form-group">
              {% if form.errors %}
                  <p style="color:#FFFFFF"> <span class="fas fa-close"></span> &nbsp Su <b>Nombre de usuario y Contreseña</b> No Coinciden. Por favor intente nuevamente.</p>
              {% endif %}
              <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                  <h2 style="padding-right: 40px;">Inicio Sesión</h2>
                  <div class=" w3l-form-group">
                      <label>Usuario:</label>
                      <div class="group">
                          <i class="fas fa-user"></i>
                          <input type="email" class="form-control" placeholder="email@dominio.com" required/>
                      </div>
                  </div>
                  <div class=" w3l-form-group">
                      <label>Contraseña</label>
                      <div class="group">
                          <i class="fas fa-unlock-alt"></i>
                          <input type="password" class="form-control" placeholder="Contraseña" required="required"  style="width: 224px"/>
                      </div>
                  </div>
                  <div class="forgot">
                      <a href="#" style="padding-left: 40px;">Olvidaste tu Contraseña?</a>
                  </div>
                  <button class="btn btn-primary btn-lg " style="margin-left: 80px;" type="submit">Iniciar Sesión</button>
              </form>
            </div>
        </section>
        <!--LOGIN FORM ENF-->
{% endblock contenido %}
