body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
}



.header-area{
    background-color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
}

.formulario{
    background-color: #032139;
    color: #00bcd4;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 30px ;
}

.footer-area{
    background-color: aliceblue;
}

.btn{
    width: 243px;
    height: 42px;
}
.h-menu{
    color: white;
    font-size: 22px;
    line-height: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding: 10px 15px;
    display: block;
    box-sizing: border-box;
}
.hr-new {
    background-color: gray;
    height: 5px;
    margin-left: 0%;
    width: 50%;
}
/* cambiar el color de fondo a la barra */
nav.navbar {
    background-color: gray;
}

/*TABLE*/
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background: #ffffff;
    width: 100%;
    text-align: center;
}
td{
    border: 1px solid #032139;
    color: #032139;
    text-align: left;
    padding: 8px;
    font-size: small;
}

th {
    background: #00bcd4;
    border: 1px solid #032139;
    color: #032139;
    text-align: left;
    padding: 8px;
  }

a{
    color: #032139;
 }

input :disabled{
    background-color: -internal- lightgray
 }

 .btn-primary.disabled, .btn-primary:disabled {
     color: #fff;
     background-color: #686b6d;
     border-color: #007bff;
 }
