{% extends  'core/base.html' %}

{% block contenido %}
{% load static %}
<body onload="validDate()">
    <!-- Breadcrumb Area Start-->
    <section class="breadcrumb-area overlay-dark-2 bg-6">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text text-center">
                        <h2>{{ prop.nombre_propie }}</h2>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb">
                              <li><a href="{% url 'home' %}">Home</a></li>
                              <li>{{ prop.nombre_propie }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->
    <!-- Room Details Area Start -->
    <section class="room-details pt-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="room-slider-wrapper">
                        <div class="room-slider">
                          {% for img in img %}
                              <div class="slider-image">
                                  <img src="{% static ''%}{{  img.ruta_archivo }}" alt="" weight="470" height="470">
                              </div>
                          {% endfor %}
                        </div>
                        <div class="row nav-row">
                            <div class="slider-nav">
                              {% for img in img %}
                                  <div class="nav-image">
                                      <img src="{% static ''%}{{  img.ruta_archivo }}" alt="" weight="120" height="120">
                                  </div>
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="room-details-text">
                        <h3 class="room-details-title">Detalles de la Propiedad</h3>
                        <p>{{ prop.caracteristicas }}</p>
                    </div>
                    <div class="room-facilities">
                        <h3 class="room-details-title">Instalaciones de la Propiedad</h3>
                        <div class="single-facility">
                            <span><i class="zmdi zmdi-check"></i>2 Domitorios</span>
                            <span><i class="zmdi zmdi-check"></i>50,27 mts<sup>2</sup></span>
                            <span><i class="zmdi zmdi-check"></i>1 Baño</span>
                            <span><i class="zmdi zmdi-check"></i>Wi-Fi Gratis</span>
                        </div>
                        <div class="single-facility">
                            <span><i class="zmdi zmdi-check"></i>Estacionamiento</span>
                            <span><i class="zmdi zmdi-close"></i>Piscina</span>
                            <span><i class="zmdi zmdi-check"></i>Quincho Techado</span>
                            <span><i class="zmdi zmdi-check"></i>Acceso Controlado</span>
                        </div>
                        <div class="single-facility">
                            <span><i class="zmdi zmdi-check"></i>Full AC</span>
                            <span><i class="zmdi zmdi-check"></i>Ascensores</span>
                            <span><i class="zmdi zmdi-check"></i>Plaza Interior</span>
                            <span><i class="zmdi zmdi-close"></i>Room Service</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="sidebar-widget">
                        <h3 class="room-details-title">Tu Reserva</h3>
                        <form action="#" method="post" class="search-form">
                            <div class="form-container fix">
                                <div class="box-select">
                                    <div class="select date">
                                        <input id="arrive" type="date" name="arrive" value="{{ reserva.fecha_inicio_reser }}" disabled>
                                    </div>
                                    <div class="select date">
                                        <input id="departure" type="date" name="departure" value="{{ reserva.fecha_termino_reser }}" disabled>
                                    </div>
                                    <div class="select arrow">
                                        <select name="huespedes">
                                          <option value="1" {% if reserva.cantidad_acompa == "1"  %}selected {% endif %}>1</option>
                                          <option value="2" {% if reserva.cantidad_acompa == "2"  %}selected {% endif %}>2</option>
                                          <option value="3" {% if reserva.cantidad_acompa == "3"  %}selected {% endif %}>3</option>
                                          <option value="4" {% if reserva.cantidad_acompa == "4"  %}selected {% endif %}>4</option>
                                          <option value="5" {% if reserva.cantidad_acompa == "5"  %}selected {% endif %}>5</option>
                                          <option value="6" {% if reserva.cantidad_acompa == "6"  %}selected {% endif %}>6</option>
                                        </select>
                                    </div>
                                </div>
                                <a href="index.html" class="btn btn-primary btn-lg search default-btn" role="button">Nueva Búsqueda</a>
                                <!--button type="submit" class="search default-btn">Reservar</button-->
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-widget">
                        <table class="tabla">
                            <h3 class="room-details-title">MONTO A PAGAR</h3>
                            <tr>
                                <td><i class="fas fa-money-bill-wave"></i></td>
                                <td style="font-size: 16px;" >Valor por Noche</td>
                                <td style="font-size: 16px;" >${{ prop.valor_noche }}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-moon"></i></td>
                                <td style="font-size: 16px;">Cantidad de Noches</td>
                                <td style="font-size: 16px; text-align: center;">5</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-file-invoice-dollar"></i></td>
                                <td style="font-size: 16px;" >Total estadia</td>
                                <td style="font-size: 16px;" >$300.000</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-map-marked-alt"></i></td>
                                <td  style="font-size: 16px;" >Total Tours</td>
                                <td style="font-size: 16px;" >$0</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-taxi"></i></td>
                                <td style="font-size: 16px;" >Total Traslados</td>
                                <td style="font-size: 16px;" >$0</td>
                            </tr>

                            <tr>
                                <td><i  style="color: #00bcd4;" class="fas fa-file-invoice-dollar"></i></td>
                                <td style="font-weight: 500; color: #00bcd4;">Total a Pagar:</td>
                                <td style="font-weight: 500; color: #00bcd4;">$300.000</td>
                            </tr>
                            <tr>
                                <td><i style="color: #00bcd4;" class="fas fa-money-check-alt"></i></td>
                                <td style="font-weight: 500; color: #00bcd4;">Monto Abono:</td>
                                <td style="font-weight: 500; color: #00bcd4;">$150.000</td>
                            </tr>
                        </table>
                    </div>
                    <div class="sidebar-widget">
                      <form id="form1" action="" method="post">
                        {% csrf_token %}
                          <a href="javascript:;" onclick="document.getElementById('form1').submit();" class="btn btn-primary btn-lg search  btn-block default-btn" role="button">Pagar</a>
                          <input type="hidden" name="mess" />
                          <input type="hidden" name="comuna" value="{{ reserva.num_noche }}"/>
                          <input type="hidden" name="fechaini" value="{{ reserva.fecha_inicio_reser }}" />
                          <input type="hidden" name="fechafin" value="{{ reserva.fecha_termino_reser }}"/>
                          <input type="hidden" name="huespedes" value="{{ reserva.cantidad_acompa }}" />
                          <input type="hidden" name="idprop" value="{{ prop.id_propiedad }}">
                          <input type="hidden" name="idcliente" value="{{ user.id }}">
                      </form>
                    </div>
                    <div class="sidebar-widget">
                        <table>
                            <th colspan="4" style="text-align: center;font-weight: 700; color: #00bcd4;">Ante cualquier consulta.<br>¡Contactanos!</th><br>
                            <tr>
                                <td><i class="zmdi zmdi-phone"></i></td>
                                <td style="font-size: 16px;" >+56 2 222 22 22</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-mobile-alt"></i></td>
                                <td style="font-size: 16px;" >+56 9 555 55 55</td>
                            </tr>
                            <tr>
                                <td><i   class="fas fa-envelope"></td>
                                <td style="font-size: 16px;" >contacto@turismo-real.com</td>
                            </tr>
                        </table>
                        <div class="c-info">
                            <span></span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Room Details Area End -->
    <!-- SERVICIO ADICIONALES START-->
    <section >
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <h3 class="room-details-title">SERVICIOS ADICIONALES</h3>
                    <!-- Tab links -->
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'TOURS')">TOURS</button>
                        <button class="tablinks" onclick="openCity(event, 'TRASLADO')">TRASLADOS</button>
                    </div>
                    <!-- Tab content -->
                    <div id="TOURS" class="tabcontent">
                        <h3>Organiza desde ya tu estadía con tours guiados</h3>
                        <label for="tour" class="content-input">
                            <input type="checkbox" name="tour" id="tour" value="tour">Tour 1
                            <i></i>
                        </label>
                        <label for="tour2" class="content-input">
                            <input type="checkbox" name="tour2" id="tour2" value="tour2">Tour 2
                            <i></i>
                        </label>
                        <h3>Cantidad de Pasajeros</h3>
                        <div class="content-select">
                            <select>
                                <option> 1</option>
                                <option> 2</option>
                                <option> 3</option>
                                <option> 4</option>
                            </select>
                            <i></i>
                        </div>
                    </div>

                    <div id="TRASLADO" class="tabcontent" style="background-color: #f1f1f1;">
                        <h3>Llega a tiempo y seguro a los destinos</h3>
                        <br>
                        <label for="ida" class="content-input">
                            <input type="checkbox" name="ida" id="ida" value="ida"> Traslado a la Propiedad
                            <i></i>
                        </label>
                        <label for="vuelta" class="content-input">
                            <input type="checkbox" name="vuelta" id="vuelta" value="vuelta">Traslado a Terminal / Aeropuerto
                            <i></i>
                        </label>
                        <br>
                        <h3>Cantidad de Pasajeros</h3>
                        <div class="content-select">
                            <select>
                                <option> 1</option>
                                <option> 2</option>
                                <option> 3</option>
                                <option> 4</option>
                            </select>
                            <i></i>
                        </div>
                 </div>

                    <br>
                    <div>
                        <h3 class="room-details-title">INFORMACIÓN DE ACOMPAÑANTES  </h3>
                        <div class="w3l-form-group">
                            <i class="fas fa-user-plus"></i>
                            <input type="text" class="form-control" placeholder="NOMBRES" required minlength="3" maxlength="50"   />
                            <input type="text" class="form-control" placeholder="APELLIDOS MATERNO" required minlength="3" maxlength="50"   />
                            <input type="text" class="form-control" placeholder="APELLIDOS PATERNO" required minlength="3" maxlength="50"   />
                            <input type="number" class="form-control" placeholder="912345678" required minlength="9" maxlength="14" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

{% endblock contenido %}
