{% extends  'core/base.html' %}

{% block contenido %}
{% load static %}
<body onload="validDate()">
		<!-- Breadcrumb Area Start-->
		<section class="breadcrumb-area overlay-dark-2 bg-6">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="breadcrumb-text text-center">
							<div class="breadcrumb-bar">
								<ul class="breadcrumb">
									<li><a href="index.html">Home</a></li>
									<li>Resultados de tu Búsqueda</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Area End -->
        <!-- Room Area Start -->
        <section class="room-area pt-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset">
                        <div class="section-title text-center">
                            <h3>No existen Propiedades Disponibles en la Fecha y Localidad selecionada</h3>
                        </div>
                    </div>
                </div>
            </div>
            <section onload="validDate()" class="about-area"  >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="#" method="post" class="search-form">
                                <div class="form-container fix">
                                    <div class="box-select">
                                        <div class="select arrow">
                                          <select name="localidades" id="localidades">
                                              <option value="0"  {% if reserva.num_noche == "0"  %}selected {% endif %}>Localidades</option>
                                              {% for com in com %}
                                                  <option value="{{ com.id_comuna.id_comuna }}" {% if reserva.num_noche ==  com.id_comuna.id_comuna  %}selected {% endif %} >{{ com.id_comuna.nombre_comu }}</option>
                                              {% endfor %}
                                          </select>
                                        </div>
                                        <div class="select date">
                                            <input id="arrive" type="date" name="arrive" value="{{ reserva.fecha_inicio_reser }}">
                                        </div>
                                        <div class="select date">
                                            <input id="departure" type="date" name="departure" value="{{ reserva.fecha_termino_reser }}">
                                        </div>
                                        <div class="select arrow">
                                            <select name="huespedes">
                                                <option>Huéspedes</option>
                                                <option value="1" {% if reserva.cantidad_acompa == "1"  %}selected {% endif %}>1</option>
                                                <option value="2" {% if reserva.cantidad_acompa == "2"  %}selected {% endif %}>2</option>
                                                <option value="3" {% if reserva.cantidad_acompa == "3"  %}selected {% endif %}>3</option>
                                                <option value="4" {% if reserva.cantidad_acompa == "4"  %}selected {% endif %}>4</option>
                                                <option value="5" {% if reserva.cantidad_acompa == "5"  %}selected {% endif %}>5</option>
                                                <option value="6" {% if reserva.cantidad_acompa == "6"  %}selected {% endif %}>6</option>
                                            </select>
                                        </div>
                                    </div>
                                    <a href="{% url 'home' %}" class="btn btn-primary btn-lg search default-btn" role="button">Nueva Búsqueda</a>
                                </div>
                            </form>
                        </div>
                    </div>
                 </div>
            </section>
        </section>
        <!-- Room Area End -->
</body>
{% endblock contenido %}
