{% extends  'movil/basemenu.html' %}

{% block contenido %}
{% load static %}
        <section>
            <br><br>
            <h3 class="room-details-title">BUSCAR PROPIEDAD.<br></h3>
            <form action="" method="POST">
              {% csrf_token %}
              <div class=" w3l-form-group">
                  <label>Ingrese Cód. Propiedad:</label>
                  <div class="group">
                      <i class="fas fa-search"></i>
                      <input type="search" name="idpropiedad" type="number" min="0" max="20" class="form-control" placeholder="EJ.: PUC2D1B-1" required/>
                      <button class="btn btn-primary " style="margin-left: 10px; height: 34px;" type="submit">Buscar</button>
                  </div>
              </div>
            </form>
        </section>
{% endblock contenido %}
