{% extends  'movil/base.html' %}
{% block contenido %}
{% load static %}
        <div class="formulario">
                <div class="group">
                    <i style="color: green;" class="fas fa-check-circle"> <label style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; padding: 1px;"> CHECK-IN EXITOSO</label></i>
                    <label>Check-in en Propiedad realizado con éxito.</label>
                </div>
                <br>
                <a href="{% url 'home' %}" class="btn btn-primary" role="button" style="width: 200px; margin-left: 20px;">Volver al Menu</a>
        </div>
{% endblock contenido %}
