<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Turismo Real, Reserva de Propiedades</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- All css here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/micss.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- Header Area Start -->
    <header class="header-area fixed header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                    <div class="logo">
                        <a href="index.html"><img src="img/logo/logo.png" alt="JayBnB"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    
    <!-- Room Area Start -->
    <section class="room-area pt-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <br> <br>  <br> <br><br> <br>
                    <h3>CONDICIONES DE CANCELACIÓN DE RESERVAS</h3><br><br>
                    <ul>
                        <li>
                            <h4><b><u>Sin multa</u></b></h4>
                        </li>
                        <li>
                            <br>
                            &#10132;
                            "Cancelación gratuita siempre y cuando se haga 48 horas antes de su fecha de llegada a la propiedad"
                            <br>
                        </li>
                        <li>
                            <br>
                            <h4><b><u>Con multa</u></b></h4>
                            <br>
                        </li>
                        <li>
                            &#10132;
                            "Pasado este plazo, los huéspedes pueden cancelar hasta 24 horas antes de la llegada y recibir un reembolso del 20 % del precio pagado"
                        </li>
                        <li>
                            &#10132;
                            "Cancelación dentro de las  24 hrs los huéspedes pueden recibir un reembolso del 50 % del precio pagado"
                        </li>
                        <li>
                            &#10132;
                            "Si el huéped llega después de su fecha de llegada original, se mantendran los valores ya acordardos al momento de la reserva, ya que esta se mantiene como reservada para el huésped en el plazo  reservado."
                        </li>
                        <li>
                            &#10132;
                            "Si el huesped no llega en todo su período de reservación, el dinero pagado no será reembolsado."
                        </li>
                    </ul>   
                    <br><br>
                    <h3>DEVOLUCIONES</h3><br><br>
                    <ul>
                        <li>
                            &#10132;
                            "Las devolucioines para pagos con realizados con transferencia bancarias por conceptos de cancelación de reservas serán reembolsadas 3 días hábiles, luego de que el huesped entregue los datos para la transferencia"
                        </li>
                        <li>
                            &#10132;
                            "Las devoluciones para pagos realizados con tarjeta de débito se realizará la devolución vía transferencia bancaría dentro de 5 días hábiles, luego de que el huéped entrega la información de transferencia."
                        </li>
                        <li>
                            &#10132;
                            "Las devoluciones para pagos realizados con tarjeta de crédito se realizará la devolución vía transferencia bancaría dentro de 7 días hábiles, luego de que el huéped entrega la información de transferencia."
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>  
    <!-- Footer Area Start -->
    <footer class="footer-area">
        <section class="contact-form-area pt-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="contact-title">Información de Contacto</h4>
                        <div class="contact-text">
                            <p><span class="c-icon"><i class="zmdi zmdi-phone"></i></span><span class="c-text">+56 9 555 55 555</span></p>
                            <p><span class="c-icon"><i class="zmdi zmdi-email"></i></span><span class="c-text">contacto@turismo-real.com</span></p>
                            <p><span class="c-icon"><i class="zmdi zmdi-pin"></i></span><span class="c-text">Avenida Eyzaguire #555,<br>
                            Oficina N°555, San Bernado, Chile</span></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="contact-title">Nuestra Oficina</h4>
                        <div class="link-social">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.4553749605484!2d-70.70776598523136!3d-33.59348731225265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d95072c5fbd1%3A0xc66f774985d314ac!2sEyzaguirre%20555%2C%20San%20Bernardo%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1602024355631!5m2!1ses!2scl" width="260" height="260" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="contact-title">REDES SOCIALES</h4>
                        <div class="link-social">
                            <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.instagram.com/"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://www.youtube.com/"><i class="zmdi zmdi-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer Bottom Area Start -->
        <div class="footer-bottom-area bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-text text-center">
                            <span>Copyright © 2020 <a href="#">JayBnB</a> Derechos Reservados.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area End -->
    </footer>
    <!-- Footer Area End -->
    <!-- All js here -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/ajax-mail.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.meanmenu.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>

</html>