{% extends  'core/base.html' %}

{% block contenido %}
{% load static %}
    <!-- Breadcrumb Area Start-->
		<section class="breadcrumb-area overlay-dark-2 bg-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="breadcrumb-text text-center">
							<h2>Nuestro Equipo</h2>
							<p>Personal Capacitado para atenderte en cada una de la ciudades</p>
							<div class="breadcrumb-bar">
								<ul class="breadcrumb">
									<li><a href="{% url 'home' %}">Home</a></li>
									<li>NUESTRO TEAM</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
        </section>
        <section>
            <div class="row">
                <div class="col-md-7">
                    <div class="video-wrapper mt-90">
                        <div class="video-overlay">
                            <img src="{% static 'img/banner/4.jpg' %}" alt="">
                        </div>
                        <a class="video-popup" href="https://www.youtube.com/watch?v=rXcp6s0VjZk">
                            <i class="zmdi zmdi-play-circle-outline"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about-text">
                        <div class="section-title">
                            <h3>SOBRE TURISMO REAL</h3>
                            <p>La empresa “Turismo Real”, es una empresa familiar que se dedica al arriendo de departamentos propiedad
														de la empresa, y otros servicios en zonas turísticas del país. Tiene 10 años en el mercado y de a poco se ha
														hecho conocida por la calidad de sus departamentos, ubicación y trato gentil hacia los clientes. Actualmente la
														empresa cuenta con 10 departamentos ubicados en zonas de alto interés turístico para los clientes (Viña del
														Mar, La Serena, Pucón, Puerto Varas, etc.), todos ellos acondicionados con un alto estándar de calidad. </p>

                        </div>
                        <div class="about-links">
                            <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://www.instagram.com/"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://www.rss.com/"><i class="zmdi zmdi-rss"></i></a>
                            <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- Breadcrumb Area End -->
        <!-- Team Area Start -->
        <section class="team-area pt-90 team-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center">
                            <h3>NUESTRO TEAM</h3>
                            <p>Contamos con un equipo especializado, el cual se encarga de brindar la mejor experiencia al usuario </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="single-team">
                            <div class="team-image"><img src="{% static 'img/team/6.jpg' %}" alt="" width="444" height="500"></div>
                            <div class="team-hover">
                                <h4>Maria Jose Valdivieso</h4>
                                <span class="block">(Atención al Cliente - La Serena )</span>
                                <div class="team-links">
                                    <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-team">
                            <div class="team-image"><img src="{% static 'img/team/2.jpg' %}" alt="" width="444" height="500"></div>
                            <div class="team-hover">
                                <h4>Elisa Valderrama</h4>
                                <span class="block">( Atención al Cliente - Viña del Mar )</span>
                                <div class="team-links">
                                    <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-team">
                            <div class="team-image"><img src="{% static 'img/team/3.jpg' %}" alt="" width="444" height="500"></div>
                            <div class="team-hover">
                                <h4>Pedro Gonzalez</h4>
                                <span class="block">( Atención al Cliente - Pucón )</span>
                                <div class="team-links">
                                    <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-team">
                            <div class="team-image"><img src="{% static 'img/team/4.jpg' %}" alt="" width="444" height="500"></div>
                            <div class="team-hover">
                                <h4>Cristina Días</h4>
                                <span class="block">( Atención al Cliente - Puerto Varas )</span>
                                <div class="team-links">
                                    <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-team">
                            <div class="team-image"><img src="{% static 'img/team/5.jpg' %}" alt="" width="444" height="500"></div>
                            <div class="team-hover">
                                <h4>Francisca Morales</h4>
                                <span class="block">( Encargada de Finanzas )</span>
                                <div class="team-links">
                                    <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-team">
                            <div class="team-image"><img src="{% static 'img/team/7.jpg' %}" alt="" width="444" height="500"></div>
                            <div class="team-hover">
                                <h4>Benjamin Aiden</h4>
                                <span class="block">( Dueño )</span>
                                <div class="team-links">
                                    <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team Area End -->
    {% endblock contenido %}
