{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
         <!-- Favicon Icon -->
         <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <!--Iconos-->
        <script src="https://kit.fontawesome.com/d52d9be8d1.js" crossorigin="anonymous"></script>
        <!--CSS-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" >
        <title>Turismo Real</title>
    </head>
    <head class="header-area">
        <img src="{% static 'img/logo/logo.png' %}" class="img-fluid" alt="Responsive image">
    </head>

    <body>
        <div class="formulario">
            {% if form.errors %}
                <p style="color:#FFFFFF"> <span class="fas fa-close"></span> &nbsp Su <b>Nombre de usuario y Contreseña</b> No Coinciden. Por favor intente nuevamente.</p>
            {% endif %}
            <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
                <h2>Inicio de Sesión</h2>
                <br>
                <br>
                <div class="form-group">
                  <i class="fa fa-user icon"></i>
                  <input class="input-field" type="email" name="username" placeholder="usuario@turismo-real.cl" name="usuario">
                </div>
                <br>
                <div class="form-group">
                    <i class="fas fa-key"></i>
                    <input class="input-field" type="password" placeholder="Contraseña" name="password" minlength="5">
                </div>
                <div  class="form-group">
                    <i >Si no recuerdas tu contraseña, <br> contacta al administrador</i>
                </div>
                <button class="btn btn-primary active" type="submit">Iniciar Sesión</button>

            </form>
        </div>

        <footer>
            <div class="footer-bottom-area bg-black">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-text text-center">
                                <br>
                                <br>
                                <span style="color: black;">Copyright © 2020 <a style="color: blue; font-family: 'Trebuchet MS';">JayBnB</a> <br>Derechos Reservados.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
