{% extends "base.html" %}

{% block body %}
    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
        	<div class="col m2"></div>
			<div class="col m8">
				<div class="card blue-grey light-1">
        		<div class="card-content white-text">
          		<span class="card-title">OLVIDASTE TU CONTRASEÑA?</span>		    
					  <form method="post">
					    {% csrf_token %}
					    {{ form.as_p }}
					    <button class="btn waves-effect waves-light" type="submit" name="action">ENVIAR
						    <i class="material-icons right">send</i>
						</button>
					  </form>
				</div >
				</div>
			</div>
		    <div class="col m2"></div>
		</div>
	</div>
{% endblock %}