{% extends  'core/base.html' %}

{% block contenido %}
{% load static %}

<section class="breadcrumb-area ">	
    <div class="container">
        <div class="row">
            <div class=" w3l-login-form">
                <h2>Registro</h2>
                {% if form.errors %}
                    <p style="color:#FFFFFF"> <span class="fas fa-close"></span> &nbsp Su <b>Nombre de usuario y Contreseña</b> No Coinciden. Por favor intente nuevamente.</p>
                {% endif %}

                {% block content %}
                  <form method="post" action="">
                    {% csrf_token %}
                    <!--{{ form.as_p }}-->
                  <div class=" w3l-form-group">

                    <label>Datos Personales</label>
                    <div class="group">
                        <i class="fas fa-id-card"></i>
                        <input type="text" name="run" class="form-control" placeholder="RUN/Pasaporte/DNI" maxlength="13"/>   
                    </div>
                    <div class="group">
                        <i class="fas fa-user"></i>
                        <input type="text" name="nombre" class="form-control" placeholder="Nombre" required pattern="[A-Za-z_-]{2-50}"/>   
                    </div>
                    <div class= "group">
                        <i class="fas fa-user-plus"></i>
                        <input type="text" name="apepaterno" class="form-control" placeholder="Ap. Paterno" required minlength="3" maxlength="50" />
                    </div>
                    <div class="group">
                        <i class="fas fa-user-plus"></i>
                        <input type="text" name="apematerno" class="form-control" placeholder="Ap. Materno" required minlength="3" maxlength="50" />
                    </div>
                </div>
                <div class="w3l-form-group">
                    <label>Fecha de Nacimiento:</label>
                    <div class="group select date">
                        <input type="date" name="fechanac" required>
                    </div>  
                </div>
                <div class=" w3l-form-group">
                    <label>Datos de Contacto</label>
                    <div class="group">
                        <i class="fas fa-at"></i>
                        <input type="email" name="email" class="form-control" placeholder="E-mail" required="required" />
                    </div>
                    <div class="group">
                        <i class="fas fa-phone-alt"></i>
                        <input type="number" name="telefono" class="form-control" placeholder="912345678" required minlength="9" maxlength="9" />
                    </div>
                </div>
                <div class=" w3l-form-group">
                    <label>Dirección</label>
                    <div class="group">
                        <i class="fas fa-address-card"></i>
                        <input type="text" name="direccion" class="form-control" placeholder="Dirección" required minlength="5" maxlength="100" />
                    </div>
                    <div class="group">
                        <i class="fas fa-map-marked-alt"></i>
                        <select name="comuna" id="comuna" required>
                            <option value="#">Selecciona tu Comuna</option>
                            <option value="san_bernardo">San Bernardo</option>
                            <option value="el_bosque">El Bosque</option>
                            <option value="buin">Buin</option>
                        </select>
                    </div>
                </div>
                <div class="w3l-form-group">
                    <label>Contraseña</label>
                    <div class="group">
                        <i class="fas fa-key"></i>
                        <input type="password" name="password" type="text" id="password" />
                    </div>

                </div>

                    <button type="submit">Registrar</button>
                  </form>
                {% endblock %}
            </div>
        </div>
    </div>
</section>


{% endblock contenido %}    
